.pika-single {
    color: #999;
    background: #212121;
    padding-bottom: 1rem;
}

.cal-container {
    width: 25rem;
    margin-top: 1.4rem;
}

.pika-lendar {
    width: auto;
    margin: 1rem;
}

.pika-label {
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
}

.pika-prev,
.pika-next {
    line-height: 30px;
    padding: 0 5px;
    background-color: transparent;
    color: #6B8E23;
    width: auto;
    height: auto;
    text-indent: 0;
    background-position: initial;
    background-repeat: initial;
    background-size: initial;
    opacity: initial;
    *position: absolute;
    *top: 0;
}

.pika-prev,
.is-rtl .pika-next {
    background-image: none;
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    background-image: none;
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    opacity: 0;
}

.pika-table th,
.pika-table td {
    padding: 5px;
}

.pika-button {
    padding: .6rem;
    color: #999;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid #999;
}

.is-today .pika-button {
    color: #6B8E23;
    border-color: #6B8E23;
    font-weight: normal;
}

.is-selected .pika-button {
    color: #6B8E23;
    border-color: #6B8E23;
    box-shadow: none;
    border-radius: inherit;
    background: transparent;
    font-weight: normal;
}

.pika-button:hover {
    color: #6B8E23;
    border-color: #6B8E23;
    box-shadow: none;
    border-radius: inherit;
    background: transparent;
    font-weight: normal;
}
